<div class="container py-4">
  <app-search (searchEvent)="get_list_filtered($event)"></app-search>
</div>
<div>
  <app-filters (filterEvent)="get_list_filtered($event)"></app-filters>
</div>
<div class="container py-3">
  <div class="row">
    <div class="col-md-12 col-lg-4 mb-4 mb-lg-0" *ngFor="let product of products">
      <app-card-product [value]="product"></app-card-product>
    </div>
  </div>
</div>
  <ul class="pagination d-flex justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>


