<div class="container py-4">
  <app-search (searchEvent)="get_list_filtered($event)"></app-search>
</div>
<div>
  <app-filters (filterEvent)="get_list_filtered($event)"></app-filters>
</div>
<div class="container py-3">
  <div class="row">
    <div class="col-md-12 col-lg-4 mb-4 mb-lg-0" *ngFor="let product of products">
      <app-card-product [value]="product"></app-card-product>
    </div>
  </div>
</div>
<ul class="pagination d-flex justify-content-center" *ngIf="products && totalPages.length != 1">
  <li class="page-item">
    <a *ngIf="currentPage != 1" class="page-link" aria-label="Previous" (click)="setPage(currentPage - 1)">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  <li class="page-item" [ngClass]="{'active': pageNumber === currentPage}" *ngFor="let pageNumber of totalPages" (click)="setPage(pageNumber)">
    <a class="page-link">{{pageNumber}}</a>
  </li>
  <li class="page-item">
    <a *ngIf="currentPage != totalPages[totalPages.length-1]" class="page-link" aria-label="Next" (click)="setPage(currentPage + 1)">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>


